<form action="/api/users/65d76243907bed1d8a7f573f/documents" enctype="multipart/form-data" method="post">
    DNI: <input type="file" name="dni" id="dni">
    ADDRESS: <input type="file" name="address" id="address">
    BANK: <input type="file" name="bank" id="bank">
    <input type="submit" value="Enviar">
</form>

<form action="/api/users/65d76243907bed1d8a7f573f/profiles" enctype="multipart/form-data" method="post">
    Profile Picture: <input type="file" name="profiles" id="profiles">
    <input type="submit" value="Enviar">
</form>

<form action="/api/users/65d76243907bed1d8a7f573f/products" enctype="multipart/form-data" method="post">
    thumbnail: <input type="file" name="products" id="products" multiple>
    <input type="submit" value="Enviar">
</form>
